// ES5 stateful class
const HelloWorld = React.createClass({
  render () {
    return (
      <div>
        <h1>{ helloWorld }</h1>
      </div>
    )
  }
})

// ES6 stateful class
class HelloWorld extends React.Component {
  render () {
    return (
      <div>
        <h1>Hello World</h1>
      </div>
    )
  }
}

// Stateless functional component
const HelloWorld = () => {
  return (
    <div>
      <h1>Hello World</h1>
    </div>
  )
}
